# Netlify configuration for 301 redirect

[[redirects]]
  from = "/*"
  to = "https://my.parkeze.com/:splat"
  status = 301
  force = true

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
